@import "tailwindcss";
@import "@mdi/font/css/materialdesignicons.min.css";

@layer base {
	body {
		@apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100;
	}

	h1 {
		@apply text-3xl font-bold text-gray-900 dark:text-gray-100 mb-6;
	}

	h2 {
		@apply text-2xl font-semibold text-gray-800 dark:text-gray-200 mb-4;
	}
}
